<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('head',{username}) %>

    <title>详情</title>
    <style>
      .layui-card{
        background-color: rgba(253, 246, 246, 0.7);
      }
      .div img{
        width: 100%;
      }
    </style>
</head>
<body>
    <%- include('header',{}) %>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-card"></div>
            <div class="layui-card">
                <div
                 class="layui-card-header"
                 style="font-size: large;font-weight: bold;">
                 <%= data.title %>
                </div>
                <div class="layui-card-body" style="font-size: small;">
                  <span>
                    作者：<%= data.author %>
                  </span>
                  <span>
                    发布时间：<%= data.time %>
                  </span>
                   
                </div>
                <div class="div layui-card-body">
                  <%- data.content %>
                </div>
            </div>

        </div>
    </div>
</body>
</html>