<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <%- include('head',{}) %>
    <!-- <link rel="stylesheet" href="/public/stylesheets/index.js"> -->
</head>

<body>
  <%- include('header',{username}) %>

  
  <div class="layui-container">
    <div class="layui-row">
      <!-- <ul class="layui-nav layui-bg-molv" lay-filter="">
        <i class="layui-icon layui-icon-tree"></i>
        <li class="layui-nav-item">
          <a href="">写文章<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
          <a href="">退出</a>
        </li>
      </ul> -->
      
      <div>
        <table class="layui-table">
          <!-- <colgroup>
            <col width="150">
            <col width="200">
            <col>
          </colgroup> -->

          <thead>
            <th>标题</th>
            <th>作者</th>
            <th>内容</th>
            <th>发布时间</th>
            <th>操作</th>
          </thead>

          <!-- <thead> -->
          <tbody>
            <% data.blogList.map(item=>{ %>
            <tr>
              
              <!-- <td><%= item.id %></td> -->
              <td><a href="/details?_id=<%= item._id %>"><%= item.title %></a></td>
              <!-- <td><img src="/images/sky.jpg" alt=""></td> -->
              <td><a href="/details?_id=<%= item._id %>"><%= item.author %></a></td>
              <td><%- item.content %></td>
              <td><%= item.time %></td>
              <td>
                <a href="/write?_id=<%= item._id %>&page=<%= data.currPage %>">
                  编辑
                  <i class="layui-icon layui-icon-edit"></i>
                </a>
                <a href="/writes/delete?_id=<%= item._id %>&page=<%= data.currPage %>">
                  删除
                  <i class="layui-icon layui-icon-delete"></i>
                </a>
              </td>
              
            </tr> 
            <% }) %>
          </tbody>
          <!-- </thead> -->
          
          <!-- <tbody>
            <tr>
              <td>2</td>
              <td><a href="">Bubble01</a></td>
              <td>2021-01-21 09:10:00</td>
              <td>
                <a href="">
                  编辑
                  <i class="layui-icon layui-icon-edit"></i>
                </a>
                <a href="">
                  删除
                  <i class="layui-icon layui-icon-delete"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="">Bubble02</a></td>
              <td>2021-01-22 09:10:00</td>
              <td>
                <a href="">
                  编辑
                  <i class="layui-icon layui-icon-edit"></i>
                </a>
                <a href="">
                  删除
                  <i class="layui-icon layui-icon-delete"></i>
                </a>
              </td>
            </tr>
          </tbody> -->
        </table>

        <div class="page w1100">
          <!-- <a href="#">上一页</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">下一页</a> -->

          <% for(let i = 1;i <= data.PageTotle;i++){ %>
            <a href="/?page=<%=i%>" class="<%- data.currPage==i?'active':'' %>">
              <%= i %>
            </a>
          <% } %>
        </div>

      </div>
    </div>
  </div>
</body>

</html>