<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}) %>
        <title>写文章</title>

</head>
<style>
    .head {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .text-01 {
        text-align: center;
    }

    .layui-input {
        width: 800px;
    }

    .layui-btn {
        float: left;
        margin-left: 120px;
        background: cornflowerblue;
    }
</style>

<body>
    <%- include('header',{username}) %>
        <div class="layui-container">
            <div class="layui-row">

                <form class="layui-form" action="/writes/add" method="POST">
                    <div class="head"></div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <!-- 
                                在提交的时候，需要用到的信息，顺便提交过去
                             -->
                            <input type="hidden" name="dId" id="" value="<%=dataa._id%>">
                            <input type="hidden" name="page" id="" value="<%=dataa.page%>">
                            <input type="text" name="title" value="<%= dataa.title %>" required placeholder="请输入文章标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">作者</label>
                        <div class="layui-input-block">
                            <input type="text" name="author" value="<%= dataa.author %>" required placeholder="请输入作者" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <textarea name="content" id="editor" cols="110" rows="20">
                                <%- dataa.content %>
                            </textarea>
                        </div>
                    </div>

                    <% if(!dataa._id){%>
                    <button class="layui-btn">发布</button>
                    <%}else{%>
                    <button class="layui-btn">确认修改</button>
                    <%}%>
                </form>


            </div>
        </div>


        <script src="/libs/ckeditor5-build-classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    //配置ckfinder插件
                    ckfinder: {
                        // Upload the images to the server using the CKFinder QuickUpload command.
                        uploadUrl: '/writes/upload'
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
</body>

</html>